RewriteEngine on

RewriteBase /

RewriteCond %{HTTP_HOST} ^(?:www\.)?fffadedev\.com$ [NC]
RewriteCond %{REQUEST_URI} !^/build/
RewriteRule (.*) /build/$1 [L]

Redirect /about/ #/about
Redirect /about #/about
