/*
  Omar Johnson
  Global app styling
*/

/* Global */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Fonts */
@font-face {
    font-family: "Roboto Condensed";
    src: url("./RobotoCondensed-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Host Grotesk";
  src: url("./HostGrotesk-VariableFont_wght.ttf");
}

/* All */
html, body
{
  width: 100vw;
  scroll-behavior: smooth;
  font-size: 12px;
  overflow: auto;
}

/* Default text styling */
p, a, input, button, label
{
  font-family: "Host Grotesk", sans-serif;
}

h1
{
  font-family: "Roboto Condensed", "Trebuchet MS", serif;
}
